.mycontainer {
    display: flex;
    flex-direction: row-reverse;
    /* position: fixed; */

}

.itemOne {
    margin: 15px;
    padding: 5px;
    background: lightblue;
    /* flex: 1 1 auto; */
    flex-grow: 1;
}

.itemTwo {
    margin: 15px;
    padding: 5px;
    background-color: lightblue;
    /* flex: 2 1 auto; */
    flex-grow: 2;
}

.itemThree {
    margin: 15px;
    padding: 5px;
    background-color: lightblue;
    /* flex: 2 1 auto; */
    flex-grow: 3;
    order: 1;
}

